* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100vh;
  }
  
  body {
    background-color: #0e0d0f;
    font-family: Roboto, Arial, sans-serif;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 32px;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
  }
  
  form {
    margin: 20px 0;
    background-color: rgb(51, 51, 51);
    padding: 30px 25px;
    border-radius: 5px;
  }
  
  form .input-block {
    margin-bottom: 20px;
  }
  
  form .input-block label {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  
  form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
  }
  
  form .btn-calcular {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #7159c1;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
  }
  
  /* fazer o formulario abrir suavemente */

  form{
    animation-name: fade;
    animation-duration: 2s;
  }
  @keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
  }

  form{
      overflow: hidden;
  }
  
  .envent{
    margin: 20px 0;
    background-color: rgb(51, 51, 51);
    padding: 30px 25px;
    border-radius: 5px;
    animation-name: entrada;
  }

  @keyframes entrada{
    form{
      
    }
    to{
      
    }
  }

  /* Mover os campos */

  .input-block{
      animation-name: move;
      animation-duration: 1s;
  }

  @keyframes move {
    from {
        transform: translateX(-15%);
    }
    to {
        transform: translateX(0%);
    }
  }

/*Botao sumindo para baixo*/ 

.form-hide {
  animation: moverBaixo 500ms;
  animation-fill-mode: forwards;
}

@keyframes moverBaixo {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

/*Campos vazios*/

form.validation-error {
  animation: nao 300ms linear , fade paused;
  animation-iteration-count: 2;
}

@keyframes nao{
  0% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%)
  }
  70% {
    transform: translateX(15%)
  }
  100% {
    transform: translateX(0)
  }
}
